html,body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}
summary{
    display:list-item
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;    
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}
.dropdown_hover{
    position: relative;
}
